<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="center">
        <div class="image-button-wrapper">
            <img th:src="@{/images/million.jpg}" alt="Game Image">
            <a th:href="@{/game}" class="start-button">
                <button class="start-button">Start Game</button>
            </a>
        </div>
    </div>
</body>
</html>

